/* below are the style rules that define the visual theme of the forum 
 * change these to change the forum's colours */

/* normal theme */
blockquote { border-color: black }
a:not([class]) { color: black; }
a:visited { color: #666; }
tr:hover td { background:#e2cca2; }
body { background: wheat; color: black; }

header details a:visited { color: black; }

/* halloween theme */
/*
header svg { fill: #ff8000; }
#logo {
	width: 48px;
	height: 48px;
	display: block;
}
p { color: #f2f2f2; }
blockquote { border-color: wheat; }
textarea { background: black; color: wheat; }
h1 a:visited, a:not([class]) { color: wheat; }
a:visited { color: gray; }
body { background: #111; color: #ff8000;   }

header details a:visited { color: #ff8000; }

/* author colors */
/*
span > b { color: #ff8000; }
*/
