{{ template "head" . }}
<h1> About </h1>
<p>This forum is for and by the <a href="https://wiki.xxiivv.com/site/merveilles.html">Merveilles</a> community.</p>
<p>The <a href="https://github.com/cblgh/cerca">forum software</a> itself was created from scratch by <a href="https://cblgh.org">cblgh</a> at the start of 2022, after a long time
of pining for a new wave of forums hangs.</p>

<p>If you are from Merveilles: <a href="/register">register</a> an account. If you're a passerby, feel free to read the <a href="/">public threads</a>.</p>

<h2>Code of conduct</h2>
<p>As with all Merveilles spaces, this forum abides by the compact set out in the <a href="https://github.com/merveilles/Resources/blob/master/CONDUCT.md">Merveilles Code of Conduct</a>.</p>

<h2>Forum syntax</h2>
<p>Posts in the forum are made using <a href="https://en.wikipedia.org/wiki/Markdown#Examples">Markdown
    syntax</a>.</p>
<p><b>**Bold text**</b> and <i>*italics*</i></p>

<ul>
    <li>* lists</li>
    <li>* like </li>
    <li>* this </li>
</ul>

<p><code>`typewriter text`</code></p>

<pre><code>```
blocks of
code like
this
```
</code></pre>

<p>Create links like <code>[this](url)</code>, and embed images like: <code>![description](url)</code>. Note how the image
syntax's exclamation mark precedes the regular link syntax.</p>

<pre><code>this is one paragraph.
this belongs to the same paragraph.

this is a new paragraph</code></pre>
{{ template "footer" . }}
