{{ template "head" . }}
<main>
    <h1>{{ .Title }}</h1>
    <section>
        <form method="GET" id="add-user" action="/add-user"></form>
        <p>
        <form method="POST" id="demote-self" action="/demote-admin">
            <input type="hidden" name="userid" value="{{ .LoggedInID }}">
        </form>
        <p>
        Does someone wish admittance? You can <button form="add-user" type="submit">Add new user</button>.
        </p>
        <p>
        If you want to stop being an admin, you can <button form="demote-self" type="submit">Step down</button>.
        </p>
        <p>
        View past actions in the <a href="/moderations">moderation log</a>.
        </p>
    </section>
    {{ if .LoggedIn }}
    {{ $userID := .LoggedInID }}
    <section>
        <h2> Admins </h2>
        {{ if len .Data.Admins | eq 0 }} 
            <p> there are no admins; chaos reigns </p>
        {{ else }}
        <table>
            {{ range $index, $user := .Data.Admins }}
            <tr>
                <form method="POST" id="demote-admin-{{$user.ID}}" action="/demote-admin">
                    <input type="hidden" name="userid" value="{{ $user.ID }}">
                </form>
                <td>{{ $user.Name }} ({{ $user.ID }}) </td>
                <td>
                    {{ if eq $userID $user.ID }} <i>(you!)</i> 
                    {{ else }}<button type="submit" form="demote-admin-{{$user.ID}}">Demote</button>{{ end }}
                </td>
            </tr>
            {{ end }}
        </table>
        {{ end }}
    </section>
    <section> 
    <h2> Pending actions</h2>
    <p>Two admins are required for <i>making a user an admin</i>, <i>demoting an existing admin</i>, or <i>removing a user</i>. The
    first proposes the action, the second confirms (or vetos) it. If enough time elapses without a veto, the
    proposer may confirm their own proposal.</p>

    {{ if len .Data.Proposals | eq 0}}
    <p><i>there are no pending proposals</i></p>
    {{ else }}
    <table>
        <tr>
            <th>Proposal</th>
            <th colspan="3">Date self-proposals become valid</th>
        </tr>
        {{ range $index, $proposal := .Data.Proposals }}
        <tr>
            <form method="POST" id="confirm-{{$proposal.ID}}" action="/proposal-confirm">
                <input type="hidden" name="proposalid" value="{{ $proposal.ID }}">
            </form>
            <form method="POST" id="veto-{{$proposal.ID}}" action="/proposal-veto">
                <input type="hidden" name="proposalid" value="{{ $proposal.ID }}">
            </form>
            <td> {{ $proposal.Action | tohtml }} </td>
            <td> {{ $proposal.Time | formatDateTime }} </td>
            <!-- TODO (2023-12-19): remember to offset data from proposal with a fixed amount of time! e.g. in
            a var in this template, which can be reused to turn off interactivity of the buttons as a ux measure-->
            <td><button {{ if  $proposal.TimePassed }} disabled {{ end }} type="submit" form="veto-{{$proposal.ID}}">Veto</button></td>
            <td><button {{ if  $proposal.TimePassed }} disabled {{ end }} type="submit" form="confirm-{{$proposal.ID}}">Confirm</button></td>
        </tr>
        {{ end }}
    </table>
    {{ end }}

    <section>
        <h2> Users </h2>
        {{ if len .Data.Users | eq 0 }} 
            <p> there are no other users </p>
        {{ else }}
        <table>
            {{ range $index, $user := .Data.Users }}
            {{ if and (ne $user.Name "CERCA_CMD") (ne $user.Name "deleted user") }} 
                <form method="POST">
                <input type="hidden" name="userid" value="{{$user.ID}}">
                <tr>
                    <td>{{ $user.Name }} ({{ $user.ID }})</td>
                    <td>
                        <select name="admin-action" action="/admin/" id="select-{{$user.ID}}">
                            <option selected value="reset-password">Reset password</option>
                            <option value="remove-account">Remove account</option>
                            <option value="make-admin">Make admin</option>
                        </select>
                    </td>
                    <td>
                        <button type="submit">Submit</button>
                    </td>
                </tr>
                {{ end }}
            </form>
            {{ end }}
        </table>
        {{ end }}
    </section>

    {{ end }}
</main>
{{ template "footer" . }}
