{{ template "head" . }}
<h1>Change password</h1>
<p>Use this page to change your password. If needed, you can also regenerate your password reset keypair—used to reset a
forgotten password without admin help.</p>
<form method="post" action="{{.Data.Action}}">
    <div>
        <label type="text" for="password-old">Current password:</label>
        <input type="password" minlength="9" required id="password-old" name="password-old" aria-describedby="password-help">
    </div>
    <div>
        <label type="text" for="password-new">New password:</label>
        <input type="password" style="margin-bottom: 0;" minlength="9" required id="password-new" name="password-new" aria-describedby="password-help">
        <div><small id="password-help">Must be at least 9 characters long.</small></div>
    </div>
    <div>
        <input type="checkbox" value="true" name ="reset-keypair" id="reset-keypair">
        <label for="reset-keypair" style="display: inline-block;">I also want to generate a new keypair</label>
    </div>
    <div>
        <input type="submit" value="Submit">
    </div>
</form>
{{ template "footer" . }}
