{{ template "head" . }}
<h1> {{ "ChangePassword" | translate | capitalize }}</h1>
<p>{{ "ChangePasswordDescription" | translate }}</p>
<form method="post" action="{{.Data.Action}}">
    <div>
        <label type="text" for="password-old">{{ "Current" | translate | capitalize }} {{ "Password" | translate }}:</label>
        <input type="password" minlength="9" required id="password-old" name="password-old" aria-describedby="password-help">
    </div>
    <div>
        <label type="text" for="password-new">{{ "New" | translate | capitalize }} {{ "Password" | translate }}:</label>
        <input type="password" style="margin-bottom: 0;" minlength="9" required id="password-new" name="password-new" aria-describedby="password-help">
        <div><small id="password-help">{{ "PasswordMin" | translate }}.</small></div>
    </div>
    <div>
        <input type="submit" value="Submit">
    </div>
</form>
{{ template "footer" . }}
