{{ template "head" . }}
<main>
    {{ if len .Data.Threads | eq 0 }} 
    <p> There are currently no threads. </p>
    {{ else }}
    <details>
        <summary> filter threads (showing {{ len .Data.VisibleCategoriesMap }} of {{ len .Data.Categories
        }} categories)</summary>
        <form type="GET" action="/">
            {{ $categoryMap := index .Data.VisibleCategoriesMap }}
            {{ range $index, $category := .Data.Categories}}
                {{ $showCategory := index $categoryMap $category }}
                <input type="checkbox" id="filter-{{$category}}" {{ if $showCategory }} checked {{ end }} value="{{ $category }}" name="show"/>
                <label style="display: inline-block;" for="filter-{{$category}}">{{ $category }}</label>
            {{ end }}
        <button type="submit">filter</button>
        </form>
    </details>
    {{ end }}
    {{ range $index, $thread := .Data.Threads }}
        {{ if $thread.Show }}
        <h2>
          <a href="{{$thread.Slug}}">{{ $thread.Title }}</a>
        {{ if $thread.Private }} <span title='{{ "Private" | translate }}'>⚿</span> {{ end }}
        </h2>
        {{ end }}
    {{ end }}
</main>
{{ if .LoggedIn }}
<aside>
    <p> <a href="/thread/new">{{ "ThreadStartNew" | translate }}</a></p>
</aside>
{{ end }}
{{ template "footer" . }}
