{{ template "head" . }}
<main>
    <h1>{{ "Login" | translate | capitalize }}</h1>
    <p>{{ "ForumDescription" | translateWithData | tohtml }} {{ "LoginNoAccount" | translate | tohtml }}</p>
	<div style="max-width: 20rem">
		{{ template "login-component" . }}
        <p><a href="/reset">{{ "PasswordForgot" | translate }}</a></p>
	</div>
	{{ if .Data.FailedAttempt }}
        <p> {{ "LoginFailure" | translate | tohtml }} </p>
	{{ else if .LoggedIn }}
        <p>{{ "LoginAlreadyLoggedIn" | translate | tohtml }}</p>
	{{ end }}
    </p>
</main>
{{ template "footer" . }}
