{{ template "head" . }}
<main>
    <h1>{{ "Login" | translate | capitalize }}</h1>
    <p>{{ "LoginDescription" | translateWithData | capitalize | tohtml }} {{ "LoginNoAccount" | translate | tohtml }}</p>
	<div style="max-width: 20rem">
		{{ template "login-component" . }}
        <p><a href="/reset">{{ "PasswordForgot" | translate }}</a></p>
	</div>
	{{ if .Data.FailedAttempt }}
		<p><b>Failed login attempt:</b> incorrect password, wrong username, or a non-existent user.</p>
	{{ else if .LoggedIn }}
		<p> You are already logged in. Would you like to <a href="/logout">log out</a>?</p>
	{{ end }}
    </p>
</main>
{{ template "footer" . }}
