{{ template "head" . }}
<main>
    <h1>{{ "ThreadCreate" | translate }}</h1>
    <form method="POST">
        <div class="post-container" >
            <label for="title">{{ "Title" | translate }}:</label>
            <input autofocus required name="title" type="text" value="{{ .Data.NewTitle }}" id="title">
            <label for="content">{{ "Content" | translate }}:</label>
            <textarea required name="content" id="content" placeholder='{{ "TextareaPlaceholder" | translate }}'></textarea>
            <div id="thread-private">
              <label for="isPrivate">{{ "Private" | translate }}</label>
              <input type="checkbox" id="isPrivate" name="isPrivate" value="1" />
            </div>
            <button type="submit">{{ "Create" | translate }}</button>
        </div>
    </form>
</main>
{{ template "footer" . }}
