{{ template "head" . }}
<main>
    <h1>{{ "ThreadCreate" | translate }}</h1>
    <form method="POST">
        <div class="post-container" >
            <label for="title">{{ "Title" | translate }}:</label>
            <input required name="title" type="text" id="Title">
            <label for="content">{{ "Content" | translate }}:</label>
            <textarea required name="content" id="content" placeholder='{{ "TextareaPlaceholder" | translate }}'></textarea>
            <button type="submit">{{ "Create" | translate }}</button>
        </div>
    </form>
</main>
{{ template "footer" . }}
