{{ template "head" . }}
<p>This page is currently being reconstructed; if you can't log in, contact admin for help to reset your password :)</p>
<p>{{ "PasswordResetDescription" | translate }}</p>
<p>{{ "PasswordResetUsernameQuestion" | translate }}</p>
{{ if eq .Data.Action "/reset/generate" }}
<form method="post" action="{{.Data.Action}}">
    <label type="text" for="username">{{ "Username" | translate | capitalize }}:</label>
    <input required id="username" name="username">
    <div>
    </div>
</form>
{{ end }}


{{ if eq .Data.Action "/reset/submit" }}
<input disabled value="{{ .Data.Username }}">
<p>{{ "PasswordResetCopyPayload" | translate | tohtml }}:</p> 
<pre style="user-select: all;">
<code>{{ .Data.Payload }}</code>
</pre>

{{ end }}
{{ template "footer" . }}
