{{ template "head" . }}
<p>{{ "PasswordResetDescription" | translate }}</p>
<p>{{ "PasswordResetUsernameQuestion" | translate }}</p>
{{ if eq .Data.Action "/reset/generate" }}
<form method="post" action="{{.Data.Action}}">
    <label type="text" for="username">{{ "Username" | translate | capitalize }}:</label>
    <input required id="username" name="username">
    <div>
        <input type="submit" value='{{ "GeneratePayload" | translate | capitalize }}'>
    </div>
</form>
{{ end }}


{{ if eq .Data.Action "/reset/submit" }}
<input disabled value="{{ .Data.Username }}">
<p>{{ "PasswordResetCopyPayload" | translate | tohtml }}:</p> 
<pre style="user-select: all;">
<code>{{ .Data.Payload }}</code>
</pre>
<p> {{ "PasswordResetFollowToolInstructions" | translate | tohtml }}</p>
<details>
    <summary>{{ "ToolInstructions" | translate | capitalize }}</summary>
    {{ "PasswordResetToolInstructions" | translate | tohtml }}
</details>

<form method="post" action="{{.Data.Action}}">
    <input type="hidden" required id="username" name="username" value="{{ .Data.Username }}">
    <input type="hidden" required id="payload" name="payload" value="{{ .Data.Payload }}">
    <label for="proof">{{ "Proof" | translate | capitalize }}</label>
    <input type="text" required id="proof" name="proof">
    <label for="password">{{ "NewPassword" | translate | capitalize }}</label>
    <input type="password" minlength="9" required id="password" name="password" aria-describedby="password-help">
    <div>
        <input type="submit" value='{{ "ChangePassword" | translate | capitalize }}'>
    </div>
</form>
{{ end }}
{{ template "footer" . }}
