{{ template "head" . }}
<p>On this page we'll go through a few steps to securely reset your password—without resorting to any emails!</p>
<p>First up: what was your username?</p>
{{ if eq .Data.Action "/reset/generate" }}
<form method="post" action="{{.Data.Action}}">
    <label type="text" for="username">Username:</label>
    <input required id="username" name="username">
    <div>
        <input type="submit" value="Generate payload">
    </div>
</form>
{{ end }}


{{ if eq .Data.Action "/reset/submit" }}
<input disabled value="{{ .Data.Username }}">
<p>Now, first copy the snippet (aka <i>proof payload</i>) below:</p> 
<pre style="user-select: all;">
<code>{{ .Data.Payload }}</code>
</pre>
<p>Follow the <b>tool instructions</b> to finalize the password reset.</p>
<details>
    <summary>Tool instructions</summary>
    <ul>
        <li><a href="https://github.com/cblgh/cerca/releases/tag/pwtool-v1">Download the tool</a></li>
        <li>Run as:<br><code>pwtool --payload &lt;proof payload from above&gt; --keypair &lt;path to file with yr keypair from registration&gt;</code>
        </li>
        <li>Copy the generated proof and paste below</li>
        <li>(Remember to save your password :)</li>
    </ul>
</details>

<form method="post" action="{{.Data.Action}}">
    <input type="hidden" required id="username" name="username" value="{{ .Data.Username }}">
    <input type="hidden" required id="payload" name="payload" value="{{ .Data.Payload }}">
    <label for="proof">Proof</label>
    <input type="text" required id="proof" name="proof">
    <label for="password">New password</label>
    <input type="password" minlength="9" required id="password" name="password" aria-describedby="password-help">
    <div>
        <input type="submit" value="Change password">
    </div>
</form>
{{ end }}
{{ template "footer" . }}
