{{ template "head" . }}
<main>
    <h1> {{ "Register" | translate | capitalize }}</h1>
    <p>{{ "ForumDescription" | translateWithData | tohtml}} {{ "RegisterRules" | translateWithData | tohtml }}.</p>
    <p>{{ "RegisterVerificationCode" | translate }} <b>{{ .Data.VerificationCode }}</b></p>
    <details>
        <summary> {{ "RegisterVerificationInstructionsTitle" | translate }}</summary>
        <!-- add your communities verification instructions by changing the translations -->
        {{ "RegisterVerificationInstructions" | translate | tohtml }}
    </details>

    <form method="post">
        <label for="username">{{ "Username" | translate | capitalize }}:</label>
        <input type="text" required id="username" name="username">
        <label for="password">{{ "Password" | translate | capitalize }}:</label>
        <input type="password" minlength="9" required id="password" name="password" aria-describedby="password-help" style="margin-bottom:0;">
        <div style="margin-bottom:1rem;"><small id="password-help">{{ "PasswordMin" | translate }}.</small></div>
        <label for="verificationlink">{{ "RegisterVerificationLink" | translate }}: </label>
        <input type="text" required id="verification link" name="verificationlink">
        <input type="hidden" name="verificationcode" value="{{.Data.VerificationCode}}">
        <div>
            <div>
                <input type="checkbox" required id="coc">
                <label for="coc" style="display: inline-block;">{{ "RegisterConductCodeBoxOne" | translateWithData | tohtml }}</label>
            </div>
            <div>
                <input type="checkbox" required id="coc2" >
                <label style="display: inline;" for="coc2">{{ "RegisterConductCodeBoxTwo" | translate | tohtml }}</label>
            </div>
        </div>
        <input type="submit" value='{{ "Register" | translate | capitalize }}'>
    </form>

    {{ if .Data.ErrorMessage }}
    <div>
        <p><b> {{ .Data.ErrorMessage }} </b></p>
    </div>
    {{ end }}

</main>
{{ template "footer" . }}
