{{ template "head" . }}
<main>
    <h1> {{ "Register" | translate | capitalize }}</h1>
    {{ .Data.Rules }} <!-- registration rules will be inserted here from the rules document being read from the config -->
    <details>
        <summary> {{ "RegisterInviteInstructionsTitle" | translate }}</summary>
        <!-- add your community's registration instructions by editing the registration-instructions document, see the config for where to find it!-->
        {{ .Data.InviteInstructions }}
    </details>

    <form method="post">
        <label for="username">{{ "Username" | translate | capitalize }}:</label>
        <input type="text" required id="username" name="username">
        <label for="password">{{ "Password" | translate | capitalize }}:</label>
        <input type="password" minlength="9" required id="password" name="password" aria-describedby="password-help" style="margin-bottom:0;">
        <div style="margin-bottom:1rem;"><small id="password-help">{{ "PasswordMin" | translate }}.</small></div>
        <label for="invite">Invite code: </label>
        <input type="text" required id="invite" value="{{ .Data.InviteCode }}" name="invite">
        {{ if ne .Data.ConductLink "" }}
        <div>
            <div>
                <input type="checkbox" required id="coc">
                <label for="coc" style="display: inline-block;">{{ "RegisterConductCodeBoxOne" | translateWithData | tohtml }}</label>
            </div>
            <div>
                <input type="checkbox" required id="coc2" >
                <label style="display: inline;" for="coc2">{{ "RegisterConductCodeBoxTwo" | translateWithData | tohtml }}</label>
            </div>
        </div>
        {{ end }}
        <div>
        <input type="submit" value='{{ "Register" | translate | capitalize }}'>
        </div>
    </form>

    {{ if .Data.ErrorMessage }}
    <div>
        <p><b> {{ .Data.ErrorMessage }} </b></p>
    </div>
    {{ end }}

</main>
{{ template "footer" . }}
